body{
    background-image: url("/img/fondo.png");
    background-repeat:no-repeat;
    background-size: 85rem;
    background-position:50% 20%;
}
#titulo{
    padding: 3em;
}

#contenedor{
    width: 1200px;
    height: 10px;
    margin: auto;
    padding: 0.5em;
}
#contenedor2{
    width: 50%;
    height: 10px;
    margin: auto;
    padding: 0.5em;
}

#botones{
    width: 80%;
    text-align: center;
    height: 100px;
    margin: auto;
    padding: 2.5em;
}

#resultadoConsulta{
    width: 1200px;
    height: 100px;
    margin: auto;
    padding: 2.5em;
}